/* Kontener dla głównego obrazka */
.crocusHeader {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
  }
  
  /* Główny obrazek (CROCUS_IMG) */
  .crocusHeader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Kontener dla miniatur */
  .thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px; /* Odstęp między miniaturkami */
    margin-top: 20px;
  }
  
  /* Miniaturki obrazków */
  .thumbnail {
    width: 60px;
    height: 40px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  /* Efekt powiększenia miniaturki po najechaniu */
  .thumbnail:hover {
    transform: scale(1.1);
  }
  