
.container {
    display: flex;                      /* Ustawienie elementów w jednej linii */
    justify-content: flex-start;         /* Rozpoczęcie od lewej strony */
    align-items: center;                /* Wyrównanie do środka */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 223, 186, 0.5), rgba(34, 139, 34, 0.4)); /* Gradient tła */
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Efekt po najechaniu */
  }
  
  .container:active {
    transform: translateY(2px); /* Efekt przy kliknięciu */
  }
  
  .thumbnail {
    width: 70px;                          /* Szerokość obrazka */
    height: 60px;                         /* Wysokość obrazka */
    object-fit: cover;                    /* Dopasowanie obrazka */
    border-radius: 50%;                   /* Okrągły kształt miniaturki */
    margin-right: 50px;                   /* Odstęp 50px między obrazkiem a tekstem */
    margin-left: 20px;                    /* Margines boczny 20px po lewej stronie */
    transition: transform 0.3s ease;      /* Animacja powiększenia miniaturki */
  }
  
  .thumbnail:hover {
    transform: scale(1.1);                /* Powiększenie miniaturki przy najechaniu */
  }
  
  .mottoText {
    font-size: 1.2rem;
    font-style: italic;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .mottoText:hover {
    color: #4caf50; /* Zmiana koloru tekstu po najechaniu */
  }
  
  .buttonContainer {
    display: flex;               /* Przyciski w jednej linii */
    gap: 10px;                   /* Odstęp między przyciskami */
    margin-left: auto;           /* Przesunięcie przycisków na prawą stronę */
  }
  
  .editButton,
  .deleteButton {
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .editButton {
    background: linear-gradient(to bottom, #7f5fdb, #e1bee7);
    border: none;
    color: white;
  }
  
  .editButton:hover {
    background: linear-gradient(to bottom, #7f5fdb, #cd52e2);
  }
  
  .deleteButton {
    background-color: white;
    border: 2px solid red;
    color: red;
  }
  
  .deleteButton:hover {
    background-color: red;
    color: white;
  }
  